Repository phm-oh/PES: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, test_frontend, build_backend, build_frontend

test_backend:
  stage: test
  image: node:20-alpine
  script:
  - cd backend
  - npm ci
  - npm run lint --if-present
  - npm test --if-present

test_frontend:
  stage: test
  image: node:20-alpine
  script:
  - cd frontend
  - npm ci
  - npm run lint --if-present
  - npm test --if-present

build_backend:
  image: docker:26
  services:
  - docker:26-dind
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  stage: build
  needs:
  - test_backend
  script:
  - docker build -t "$BACKEND_IMAGE" ./backend
  - docker push "$BACKEND_IMAGE"
  ...

build_frontend:
  image: docker:26
  services:
  - docker:26-dind
  before_script:
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
  stage: build
  needs:
  - test_frontend
  script:
  - docker build -t "$FRONTEND_IMAGE" ./frontend
  - docker push "$FRONTEND_IMAGE"
  ...

update add env
  .env
  .gitignore
  backend/.env
Due: test_backend, build_backend

update
  backend/.env
  backend/app.js
  backend/controllers/auth.controller.js
  backend/controllers/periods.controller.js
  backend/package-lock.json
  backend/package.json
  backend/repositories/periods.repository.js
  backend/routes/auth.routes.js
  backend/routes/periods.routes.js
  schema.sql
  schema_old.sql
Due: test_backend, build_backend

update
  backend/app.js
  backend/controllers/assignments.controller.js
  backend/controllers/indicators.controller.js
  backend/controllers/results.controller.js
  backend/repositories/assignments.repository.js
  backend/repositories/indicators.repository.js
  backend/repositories/results.repository.js
  backend/routes/assignments.routes.js
  backend/routes/indicators.routes.js
  backend/routes/results.routes.js
Due: test_backend, build_backend

update
  backend/app.js
  backend/controllers/topics.controller.js
  backend/package-lock.json
  backend/package.json
  backend/repositories/topics.repository.js
  backend/routes/topics.routes.js
Due: test_backend, build_backend

update
  backend/app.js
  backend/controllers/comments.controller.js
  backend/controllers/evidenceTypes.controller.js
  backend/controllers/signatures.controller.js
  backend/repositories/comments.repository.js
  backend/repositories/evidenceTypes.repository.js
  backend/repositories/signatures.repository.js
  backend/routes/comments.routes.js
  backend/routes/evidenceTypes.routes.js
  backend/routes/signatures.routes.js
Due: test_backend, build_backend

update
  backend/app.js
  backend/controllers/reports.controller.js
  backend/repositories/reports.repository.js
  backend/routes/reports.routes.js
Due: test_backend, build_backend

update
  frontend/middleware/auth.global.ts
  frontend/package-lock.json
Due: test_frontend, build_frontend

update
  backend/controllers/periods.controller.js
  backend/controllers/results.controller.js
  backend/repositories/periods.repository.js
  backend/routes/periods.routes.js
  backend/routes/results.routes.js
  frontend/middleware/auth.global.ts
Due: none

update
  frontend/composables/useMenu.js
  frontend/pages/admin/indicators.vue
  frontend/pages/admin/periods.vue
  frontend/pages/admin/topics.vue
Due: none

update
  frontend/pages/admin/assignments.vue
  frontend/pages/admin/indicators.vue
  frontend/pages/admin/reports.vue
  frontend/pages/evaluator/evaluate/[id].vue
  frontend/pages/evaluator/signature.vue
  frontend/pages/evaluator/tasks.vue
  frontend/pages/me/profile.vue
  frontend/pages/me/progress.vue
  frontend/pages/me/self-assess.vue
Due: none

update
  frontend/pages/me/export.vue
  frontend/pages/me/feedback.vue
  frontend/pages/me/indicators.vue
  frontend/pages/me/self-score.vue
Due: none

update
  frontend/composables/useMenu-old.js
  frontend/composables/useMenu.js
  frontend/pages/admin/assignments.vue
  frontend/pages/admin/indicators.vue
  frontend/pages/admin/periods.vue
  frontend/pages/admin/reports.vue
  frontend/pages/admin/topics.vue
  frontend/pages/evaluator/signature.vue
  frontend/pages/me/profile.vue
Due: none

update
  backend/controllers/indicators.controller.js
  backend/controllers/users.controller.js
  backend/repositories/indicators.repository.js
  backend/routes/users.routes.js
  frontend/pages/admin/indicators.vue
Due: none

update
  backend/controllers/indicators.controller.js
  backend/repositories/assignments.repository.js
  backend/repositories/indicators.repository.js
  frontend/pages/admin/assignments.vue
Due: none

update
  backend/controllers/indicators.controller.js
  backend/package-lock.json
  backend/repositories/indicators.repository.js
  docker-compose_mysql.yml
  frontend/pages/admin/indicators.vue
Due: test_backend, build_backend

update
  backend/repositories/indicators.repository.js
  frontend/layouts/dashboard.vue
Due: none

update
  backend/controllers/indicators.controller.js
  backend/repositories/indicators.repository.js
  frontend/pages/admin/indicators.vue
Due: none

update
  backend/controllers/indicators.controller.js
  backend/repositories/indicators.repository.js
  backend/test-indicators.js
  frontend/pages/admin/indicators.vue
Due: test_backend, build_backend

update
  backend/repositories/indicators.repository.js
  backend/routes/attachments.js
Due: none

update
  backend/controllers/results.controller.js
  backend/repositories/results.repository.js
  backend/routes/results.routes.js
  frontend/composables/useMenu.js
  frontend/pages/me/progress.vue
  frontend/pages/me/self-assess.vue
Due: none

update
  backend/controllers/assignments.controller.js
  backend/repositories/assignments.js
  backend/repositories/assignments.repository.js
  backend/routes/assignments.routes.js
Due: none

update
  backend/controllers/upload.controller.js
  backend/routes/attachments.js
Due: none

update
  frontend/pages/evaluator/tasks.vue
  frontend/pages/me/progress.vue
  frontend/pages/me/self-assess.vue
Due: none

update ปวส.
  frontend/nuxt.config.ts
  frontend/tsconfig.json
  init-db/00-schema.sql
  mosquitto/config/mosquitto.conf
  เตรียม-ปวส/.env
  เตรียม-ปวส/docker-compose.prod.yml
Due: test_frontend, build_frontend

Create คู่มือ:การย้าย VM (VMware) ไปยัง Proxmox
  เตรียม-ปวส/คู่มือ:การย้าย VM (VMware) ไปยัง Proxmox
Due: none

Create ตั้งค่าใช้งาน gitub
  เตรียม-ปวส/ตั้งค่าใช้งาน gitub
Due: none

Create setup runner
  เตรียม-ปวส/setup runner
Due: none

Update manual for migrating VMs from VMware to Proxmox
  เตรียม-ปวส/คู่มือการย้าย VM (VMware) ไปยัง Proxmox
Due: none

refactor: ปรับปรุง frontend ให้สะอาดและใช้งานง่ายขึ้น
  frontend/components/common/AlertMessage.vue
  frontend/components/common/PeriodSelector.vue
  frontend/components/common/StatCard.vue
  frontend/components/dashboard/AdminDashboard.vue
  frontend/components/dashboard/EvaluateeDashboard.vue
  frontend/components/dashboard/EvaluatorDashboard.vue
  frontend/composables/useApi.js
  frontend/composables/useMenu-old.js
  frontend/composables/useMessages.js
  frontend/composables/usePeriods.js
  frontend/layouts/auth-daisy.vue
  frontend/layouts/auth-vuetify.vue
  frontend/layouts/daisy.vue
  frontend/pages/admin/reports.vue
  frontend/pages/daisyui.vue
  frontend/pages/evaluator/tasks.vue
  frontend/pages/index.vue
  frontend/pages/index1.vue
  frontend/pages/login-daisy.vue
  frontend/pages/login-vuetify.vue
  frontend/pages/login1.vue
  frontend/pages/me/index.vue
  frontend/pages/users.new.vue
  frontend/pages/users/index.vue
  frontend/pages/users/test_auth.vue
  frontend/pages/vuetify.vue
  frontend/pages/ีีupload_old.vue
Due: none

fix: แก้ไข import และ AlertMessage bugs
  frontend/components/common/AlertMessage.vue
  frontend/pages/admin/reports.vue
  frontend/pages/evaluator/tasks.vue
  frontend/pages/index.vue
Due: none

fix: แก้ไข syntax error ใน tasks.vue
  frontend/pages/evaluator/tasks.vue
Due: none

fix: แก้ไข bugs หลายจุดตามการทดสอบ
  frontend/pages/evaluator/evaluate/[id].vue
  frontend/pages/me/profile.vue
  frontend/pages/me/self-assess.vue
Due: none

fix: แก้ไข API endpoints และ field names หลายจุด
  frontend/pages/evaluator/evaluate/[id].vue
  frontend/pages/me/profile.vue
  frontend/pages/me/self-assess.vue
Due: none

fix: แก้ไข bugs หลายจุดตามการทดสอบ
  add-user-fields.sql
  backend/controllers/users.controller.js.backup
  frontend/layouts/dashboard.vue
  run-migration.sh
Due: none

docs: เพิ่ม FIXES_SUMMARY.md สรุปการแก้ไขและคำแนะนำ
  FIXES_SUMMARY.md
Due: none

fix: แก้ไข indicators filter และ profile form
  FIXES_SUMMARY.md
  add-user-fields.sql
  backend/controllers/users.controller.js.backup
  backend/repositories/indicators.repository.js
  frontend/pages/me/profile.vue
  run-migration.sh
Due: none

docs: เพิ่มเอกสารสรุปการแก้ไขและคำแนะนำการใช้งาน
  README_FIXES.md
Due: none

fix: แก้ไข bugs หลายจุดตามการทดสอบ
  backend/controllers/users.controller.js
  backend/repositories/results.repository.js
  frontend/pages/evaluator/evaluate/[id].vue
  frontend/pages/me/self-assess.vue
Due: none

debug: เพิ่ม debug tools สำหรับ evaluator tasks issue
  debug-evaluator.sh
  debug-periods.sql
  frontend/pages/evaluator/tasks.vue
Due: none

fix: เพิ่มสคริปต์แก้ไขปัญหา evaluator ไม่เห็นงาน
  EVALUATOR_TASKS_FIX.md
  fix-evaluator-tasks.sh
  fix-periods-active.sql
Due: none

Path conditions:
  test_backend: any of: backend/**
  test_frontend: any of: frontend/**
  build_backend: any of: backend/**
  build_frontend: any of: frontend/**
